footer {
  text-align: center;
  padding: 40px;
  background-color: #09212b;
  color: #8ac6bd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}

.links a {
  font-size: 30px;
  color: #8ac6bd;
}
